@import 'styles/base.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.movieCard {
  width: 100%;
  height: auto;
  color: #a9a8a3;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 640px;
  background: #f0f0ed;
  border-radius: 5px;
  position: relative;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    width: 768px;
    box-shadow: 0px 0px 20px 12px rgba(33, 33, 33, 0.1);
  }
}

.cover {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  @media screen and (min-width: 768px) {
    top: 160px;
    left: 40px;
    transform: none;
  }
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  // height: 342px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }
}

.bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: skewY(-2.2deg);
  transform-origin: 0 0;
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  max-width: 100%;
  margin-top: 400px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  z-index: 5;
  @media screen and (min-width: 768px) {
    padding: 30px;
    max-width: 60%;
    min-width: 250px;
    min-width: 250px;
    margin: 40px;
  }
}

.title1 {
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: right;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.title2 {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: right;
    font-size: 23px;
    margin-bottom: 20px;
  }
}

.title3 {
  top: 3px;
  margin-left: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: right;
    font-size: 15px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #b1b0ac;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.genres {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px 5px 15px;
  width: 100%;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 170px;
    left: 40px;
    min-width: 200px;
    width: 200px;
    padding: 0;
    align-content: flex-start;
  }
}
.tag {
  background: white;
  border-radius: 10px;
  padding: 0px 8px;
  font-size: 14px;
  margin: 2px;
}

.overview {
  padding: 5px 15px;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding: 0;
    flex-direction: row;
    margin-left: 260px;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.cast {
  margin-top: 23px;
  padding: 0 40px 0 40px;

  img {
    cursor: pointer;
  }

  img:hover {
    opacity: 0.6;
  }

  a:hover {
    text-decoration: none;
  }
}

//star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/

fieldset,
label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  display: inline-block;
  content: '\f005';
}

.rating > .half:before {
  content: '\f089';
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

//tooltip stuff via: https://codepen.io/peiche/pen/JaftA

a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

/* top tooltip */
a[data-tooltip][data-placement='top']::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}
a[data-tooltip][data-placement='top']::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}
