* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #ebecf0;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
  
    a {
      text-decoration: none;
      color: #172b4d;
    }
  
    h1 {
      font-family: "Song Myung", serif;
    }
  }

  ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  /* DEFAULT STYLE */
  :root {
    font-size: 16px;
    --card-img-height: 350px;
  }
  .cardContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
  }
  
  .card {
    align-self: flex-start;
    position: relative;
    width: 200px;
    min-width: 275px;
    margin: 1.25rem 0.75rem;
    background: white;
    transition: all 300ms ease-in-out;
  
    .cardImg {
      visibility: hidden;
      width: 100%;
      height: var(--card-img-height);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  
    .cardImgHovered {
      --card-img-hovered-overlay: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
      );
      transition: all 350ms ease-in-out;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      position: absolute;
      height: var(--card-img-height);
      top: 0;
    }
  
    .cardInfo {
      position: relative;
      padding: 0.75rem 1.25rem;
      transition: all 200ms ease-in-out;
  
      .cardAbout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0;
        transition: all 200ms ease-in-out;
  
        .cardTag {
          width: 60px;
          max-width: 100px;
          padding: 0.2rem 0.5rem;
          font-size: 12px;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 1px;
          background: #505f79;
          color: #fff;
  
          &.tagNews {
            background: #36b37e;
          }
  
          &.tag-deals {
            background: #ffab00;
          }
  
          &.tag-politics {
            width: 71px;
            background: #ff5630;
          }
        }
      }
  
      .cardTitle {
        z-index: 10;
        font-size: 1rem;
        padding-bottom: 0.75rem;
        transition: all 350ms ease-in-out;
      }
  
      .cardCreator {
        padding-bottom: 0.75rem;
        transition: all 250ms ease-in-out;
      }
    }
  
    &:hover {
      cursor: pointer;
      box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
        0px 5px 15px rgba(0, 0, 0, 0.07);
      transform: scale(1.025);
  
      .cardImgHovered {
        --card-img-hovered-overlay: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.65)
        );
        height: 100%;
      }
  
      .cardAbout,
      .cardCreator,
      .cardTitle {
        opacity: 0;
      }
  
      .cardInfo {
        background-color: transparent;
      }
  
      .cardTitle {
        color: #ebecf0;
        // margin-bottom: -40px;
        transform: translate(0,40px);
      }
    }
  }